BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
BinPackParameters: false
BinPackArguments: false
AllowShortFunctionsOnASingleLine: false
ColumnLimit: 100
AlignTrailingComments: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false
SpaceInEmptyParentheses: false
IndentCaseLabels: true
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<SFML'
    Priority: 2
  - Regex: '^<'
    Priority: 3
IncludeBlocks: Merge
SortIncludes: true
AlwaysBreakBeforeMultilineStrings: true

Cpp11BracedListStyle: false
AlignAfterOpenBracket: BlockIndent
